//
// Base :: Reset
// --------------------------------------------------

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    @include transition(all 300ms);
}

*,
*:focus,
*:active,
a:focus,
a:active,
a {
    outline: 0 !important;
}

a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.says,
.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  &,
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

button {
  &,
  &.btn {
    &:focus {
      outline: 0 none;
    }
  }
}

input[type="checkbox"]:focus {
  outline: 0;
}
