//
// Pages :: Home
// --------------------------------------------------

section {
  padding-top: 40px;
  padding-bottom: 40px;
  &.feature-area {
    padding-top: 0;
    padding-bottom: 15px;
  }
}

/*----------  Feature Area  ----------*/

.feature-area {
  position: relative;
  background: url(../images/menu-shadow.png) center bottom no-repeat;;
}

// Slider
.slide-show {
  .caption {
    height:70px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding: 0 60px 0 20px;
    font-size: 13px;
    line-height: 1.33;
    color: #fff;
    text-shadow: none;
    background: url(../images/news-bg.png) repeat;
    overflow: hidden;
    .caption-inner {
      width: 100%;
    }
    h1 {
      font-size: 18px;
      color: #5a5855;
      margin: 0px;
      padding: 0px;
    }
    p {
      font-size: 13px;
      color: #4e4a43;
      margin: 0px;
      padding: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .owl-nav {
    position: absolute;
    bottom: 12px;
    right: 8px;
    z-index: 10;
    &:hover {
      color: #34495e;
    }

    .owl-next,
    .owl-prev {
      font-size: 0;
      display: inline-block;
      padding: 0 6px;
      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    .owl-prev {
      &:before {
        content: "\f104";
      }
    }

    .owl-next {
      &:before {
        content: "\f105";
      }
    }
  }

  .owl-dots {
    margin: -110px auto 0;
    width: 25px;
    z-index: 10;
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 0;
    padding-top: 45px;
    height: 150px;
    background: url(../images/nag-bg.png) no-repeat;
    .owl-dot {
      line-height: 16px;
      span {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 0;
        border-radius: 100%;
        background: #fff;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
      }
    }
  }
}

.feature-area-collapse {
	position:absolute;
	top:20px;
	right:20px;
	width: 320px;
	z-index: 10;
 .panel-group,
 .panel-group .panel,
 .panel-group .panel-heading,
 .panel-group .panel-heading a,
 .panel-group .panel-title,
 .panel-group .panel-title a,
 .panel-group .panel-body,
 .panel-group .panel-group .panel-heading + .panel-collapse > .panel-body  {
    border-radius:0;
    border:0;
    background-color:transparent;
	}

	.panel-group .panel-heading + .panel-collapse > .panel-body {
	  border-top: 0;
	}

  .panel-group .panel-heading {
    padding: 0;
  }

  .panel-group .panel-heading a {
    display: block;
    background: rgba(52, 73, 94, .7);
    color:#fff;
    padding:0 15px;
    line-height: 30px;
    text-decoration:none;
    position: relative;
    font-size: 13px;
    font-weight: normal;
  }

  .panel-group .panel-heading a.collapsed {
    background: #34495e;
    color:#fff;
  }

  .panel-group {
    .panel-heading {
      a {
        &:after {
          width: 10px;
          text-align: center;
          content: '-';
          position: absolute;
          right: 20px;
        }
        &.collapsed {
          &:after {
            content: '+';
          }
        }
      }
    }
  }

  .panel-group .panel-collapse {
    margin-top:0!important;
  }
  .panel-group .panel-body  {
    background: rgba(52, 73, 94, .7);
    padding:10px;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;

    img {
      border: 2px solid #fff;
      margin: 0 auto;
      margin-bottom: 10px;
      width: 100%;
    }

    .see-more {
      display: block;
      color: #fff;
    }
  }
  .panel-group .panel {
    background-color: transparent;
  }

  .panel-group .panel-body p:last-child,
  .panel-group .panel-body  ul:last-child,
  .panel-group .panel-body  ol:last-child {
    margin-bottom: 0;
  }
}

/*----------  Present  ----------*/
.present {
  h1 {
  	font-weight:normal;
  	color:#34495e;
  }
}
