//
// Pages :: Shop
// --------------------------------------------------

.page-title {
  padding: 0 15px;
}

/*----------  Categories  ----------*/
.category-image {
  img {
    width: 100%;
  }
}

.categories,
.products {
  margin-top: 20px;
}

.category-title,
.product-title {
    font-size: 18px;
    font-weight: 600;
}

.category .category-img,
.product .product-img {
    width: 100%;
    margin-bottom: 20px;
}
