//
// Theme :: Responsive
// --------------------------------------------------

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1030px) {
  body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 992px) {
  .feature-area-collapse {
    .panel-group {
      .panel-heading + .panel-collapse > .panel-body {
        img {
          display: none !important;
        }
      }
    }
  }

  .footer-contact {
    .form-group {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 782px) {

}

@media screen and (max-width: 768px) {
  .menuzord-brand {
    display: block !important;
  }

  .menuzord-menu {
    .megamenu {
      img {
        width: 100%;
      }
    }
  }

  .menuzord-responsive {
    .menuzord-brand {
      margin: 12px 30px 11px 20px;
      line-height: 23px;
    }
    .menuzord-menu.scrollable {
  		display: block;
  	}
  }

  .slide-show {
    .owl-dots {
      margin: -90px auto 0;
      padding-top: 20px;
      padding-right: 10px;
      height: 106px;
      background-size: 70%;
      .owl-dot {
        span {
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  .footer-copyright {
    text-align: center;
    .pull-left,
    .pull-right {
      float: none !important;
      text-align: center;
    }
    .copyright {
      padding: 10px 0 2px;
    }
    .footer-menu {
      padding: 2px 0 10px;
    }
  }
}

@media (max-width: 768px) {
  .site-logo {
    text-align: center;
    margin-bottom: 10px;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {
  .header-social {
    text-align: center;
    .social-icons.square {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 360px) {
  .footer-copyright {
    font-size: 12px;
  }

  .header-action .btn,
  .header-action .button,
  .header-action button,
  .header-action input.submit,
  .header-action input[type="submit"] {
    padding: 5px 5px 5px 8px;
  }
}

@media screen and (max-width: 320px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 992px) {
  .menuzord-menu > li > a {
    padding: 15px 12px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {

}

@media (min-width: 480px) and (max-width: 992px) {

}

@media (min-width: 480px) and (max-width: 768px) {

}

@media (min-width: 320px) and (max-width: 480px) {

}
