.footer-columns
  .container
    .row
      .col-md-4.footer-col
        .footer-about
          h6.heading7 Chi nhánh công ty
          p
            | Sự hài lòng và tín nhiệm của khách hàng là cơ hội phát triển của chúng tôi!
          h6  Thông tin liên hệ
          p
            i.fa.fa-map-pin
            |  Tòa nhà GOLDEN PALACE Lê Văn Lương, Quận Thanh Xuân, Hà Nội
          p
            i.fa.fa-phone
            |  Tel: 04.62815891 Fax: 04.62815491 Hỗ trợ khách hàng: 0968.706.888
          p
            i.fa.fa-envelope
            |  E-mail : Nangluongnanosi@gmail.com
      .col-md-4.footer-col
        .footer-posts
          h6.heading7 Tin tức và sự kiện
          .post
            a(href='#')
              img(src='https://unsplash.it/70/?random')
            h4
              a(href='#') Sen vòi inox 304 có đảm bảo sức khỏe hay không?
            p
              | Sen vòi inox 304 hiện nay không còn quá lạ với chúng ta.
            a.read-more Đọc thêm +
          .post
            a(href='#')
              img(src='https://unsplash.it/70/?random')
            h4
              a(href='#') Dòng sản phẩm Hệ tấm
            p
              | Với công nghệ vượt trội, mẫu mã sang trọng, sản phẩm được xuất khẩu tới các nước châu Âu,
            a.read-more Đọc thêm +
          .post
            a(href='#')
              img(src='https://unsplash.it/70/?random')
            h4
              a(href='#') Dòng sản phẩm Thế hệ mới – NEWTECH
            p
              | Ruột bình bảo ôn được làm từ Inox Sus 304, độ dày tới 1,2mm. Bình bảo ôn được sản xuất bằng công nghệ
            a.read-more Đọc thêm +
      .col-md-4.footer-col
        .footer-contact
          h6.heading7 Chia sẻ mạng xã hội
          p
            | Nanosi mong muốn xây dựng một thương hiệu mạnh, thể hiện tầm vóc trí tuệ và niềm tự hào Việt Nam trên trường quốc tế.
          .form-group.has-feedback
            input#inputSuccess2.form-control(type='text', aria-describedby='inputSuccess2Status', placeholder='Liên hệ ngay với chúng tôi')
            span.glyphicon.glyphicon-envelope.form-control-feedback(aria-hidden='true')
          h6 Theo dõi thông tin
          ul.social-icons.square
            li.facebook
              a(href='#')
                i.fa.fa-facebook(aria-hidden='true')
            li.twitter
              a(href='#')
                i.fa.fa-twitter(aria-hidden='true')
            li.pinterest
              a(href='#')
                i.fa.fa-pinterest(aria-hidden='true')
            li.google-plus
              a(href='#')
                i.fa.fa-google-plus(aria-hidden='true')
