// footer start from here
.footer-copyright
  .container
    .col-sm-6.col-md-6
      p.copyright © 2017 - All Rights with Copyright 2017 Nanosi
    .col-sm-6.col-md-6
      ul.footer-menu.pull-right
        li
          a(href="#") Trang chủ
        li
          a(href="#") Chính sách bảo mật
        li
          a(href="#") Hợp pháp
